h2,p{
    margin:0;
    padding:0;
    margin-bottom:20px;
    }    
   p{
    font-size:20px;
    position:relative;
    top:50px;}
  

   h1{
      font-size:90px;
      font-family:'Playfair Display',serif;
        }
   
   
  h2{
     font-size:47px;
     font-family:Times New Roman,serif;
     position:relative;
     top:50px;}

  .fullscreen-image{
     
  background-image: url('prejudice.jpg'); /* Replace with your image path */
  background-size: cover;  /* Ensures it covers the whole page */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repetition */
  height:100vh;
  display: flex;
  
  
  color: white; /* Text color */
  
   
  font-family: 'Playfair Display', serif;
    

  }
  .text-container1{
    background: (0,0,0,0.01);
    padding: 10px;
    max-width: 1500px;
    height: 220vh;
  }
   
    
     
 
  .larger-text{
   font-size:40px;
   font-family:Times New Roman,serif;
   }

 .large-text{
   font-size:22px;
   }
  

 .next-page {
  height: 200vh; /* Makes it a full page */
  background-color: white; /* Change background as needed */
  padding:0;
  background-image: url('pre.jpg'); /* Replace with your image */
  background-size: cover; /* Cover the whole section */
  background-position: top; /* Center the image */
  
  background-repeat: no-repeat; /* No repeating */
  color:white;
  margin:0;
  font-size: 1.5em;
}
.text-container2 {
  background: rgba(0,0,0,0.4);
  background-size:cover;
  padding:10px;
  height: 200vh;
}
